html,
body,
#root {
  width: 100%;
  min-height: 100%;
}.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* DARK MODE */
.container.dark {
  background-color: #06140c;
  color: #ffffff;
}

/* LIGHT MODE */
.container.light {
  background-color: #f5f5f5;
  color: #111111;
}

.login-card {
  width: 400px;
  padding: 40px;

  border-radius: 18px;

  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

/* DARK */
.container.dark .login-card {
  background-color: #151515;
  border: 1px solid #22c55e;
}

/* LIGHT */
.container.light .login-card {
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

/* TEXT */
.container.dark .login-card p {
  color: #aaaaaa;
}

.container.light .login-card p {
  color: #666666;
}

/* INPUT */
.container.dark input {
  background-color: #222222;
  color: #ffffff;
  border: 1px solid #444444;
}

.container.light input {
  background-color: #ffffff;
  color: #111111;
  border: 1px solid #cccccc;
}

/* PLACEHOLDER */
.container.dark input::placeholder {
  color: #777777;
}

.container.light input::placeholder {
  color: #888888;
}

body {
  margin: 0;

  font-family:
    Arial,
    Helvetica,
    sans-serif;
}